<h2>Job_details</h2>



    <h3>
        title: {{job_details.title}}
    </h3>
    <h3>
        job_type: {{job_details.job_type}}
    </h3>
    <h3>
        description: {{job_details.description}}
    </h3>
    <h3>
        published at: {{job_details.published}}
    </h3>
    <h3>
        Vacancy: {{job_details.Vacancy}}
    </h3>
    <h3>
        salary: {{job_details.salary}}
    </h3>
    <h3>
        experience: {{job_details.experience}}
    </h3>
    <h3>
        category: {{job_details.category}}
    </h3>
